<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="academy.Listeners"/>
</listeners>

  <test name="HomeTest">
    <classes>
      <class name="academy.HomeTest"/>
       </classes>
  </test>
      
      
      <test name="ValidateTitleTest">
    <classes>
      <class name="academy.ValidateTitleTest"/>
       </classes>
  </test>
      
      <test name="ValidateNavBarTest">
    <classes>
      <class name="academy.ValidateNavBarTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
